#jurnalDetilList-tbl [data-name] { 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Desktop */
@media screen and (min-width: 501px) {

	#jurnalDetilList-tbl [data-name="coa_name"] { width: 200px; max-width: 200px;} 
	
	#jurnalDetilList-tbl [data-name="jurnaldetil_value"] { width: 150px; max-width: 150px; min-width: 150px;} 
	#jurnalDetilList-tbl [data-name="jurnaldetil_idr"] { width: 150px; max-width: 150px; min-width: 150px;} 

}

