#jurnalDetilList-tbl [data-name] { 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Mobile */
@media screen and (max-width: 500px) {

}


/* Desktop */
@media screen and (min-width: 501px) {

	#jurnalDetilList-tbl [data-name="coa_name"] { width: 200px;} 
	
	#jurnalDetilList-tbl [data-name="jurnaldetil_value"] { width: 150px;} 
	#jurnalDetilList-tbl [data-name="curr_code"] { width: 100px; } 
	#jurnalDetilList-tbl [data-name="jurnaldetil_idr"] { width: 150px;} 

}
